<!DOCTYPE html>
<html >
<head>

	<meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="pragma" content="no-cache" />

	<!-- Due to a bug in webcomponents, I can't use CSS with HTML imports -->
	<!-- (at least in IE) -->
	<!-- https://github.com/webcomponents/webcomponentsjs/issues/400 -->
	<link rel="stylesheet" href="bootstrap/css/bootstrap-yeti.css"/>
	<link rel="stylesheet" href="css/style.css"/>

	<!-- Polyfill, required for browsers that do not support link rel="import" -->
	<script type="text/javascript" src="webcomponents/webcomponents-lite.min.js"></script>


	<link rel="import" href="html/dependencies.html"/>
</head>
<body>


<div class="container" ng-app="isgWebApp">

	<div ng-controller="isgWebAppCtrl">
		<h2>ISG Cluster Database</h2>
		<p>
		<b>Interferon-stimulated genes</b> (ISGs) are genes whose expression is affected by interferon. 
		ISGs may be duplicated within the genome of a species, and genes in different species may be orthologous.
		These related ISGs therefore form <b>orthologous clusters</b>.
		</p>
		<p>
		Within an orthologous cluster, the effect of interferon varies: some genes are up-regulated, 
		others down-regulated, still others are not differentially expresssed. 
		<p>
		This database catalogues several thousand ISGs across 10 species, grouped into orthologous clusters. 
		For each gene, transcriptomics results for the differential expression of the gene are included.
		</p>
		<h3>Query Clusters by Criteria</h3>
			<p>
				<div class='table query-table'>
					<div class='row'>
						<div class='col-md-5 well query-well'>
							<div class='row query-row'>
							Presence / absence in species
							</div>
							<div class='row query-row'>
								<div class="btn-group">
									<label class="btn btn-default ng-pristine ng-untouched ng-valid active" 
										ng-model="selectedPresence" btn-radio="'PRESENT'">Present in</label>
									<label class="btn btn-default ng-pristine ng-untouched ng-valid active" 
										ng-model="selectedPresence" btn-radio="'ABSENT'">Absent from</label>
								</div>
							</div>
							<div class='row query-row'>

								<div class="btn-group" dropdown is-open="status.isopen">
								      <button id="single-button" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
								        {{renderSpeciesCategory()}} <span class="caret"></span>
								      </button>
								      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
								        <li ng-show="selectedPresence == 'PRESENT'" role="menuitem"><a ng-click="setSpeciesCategory('ANY', null)">Any species</a></li>
								        <li ng-show="selectedPresence == 'PRESENT'" role="menuitem"><a ng-click="setSpeciesCategory('ALL', null)">All species</a></li>
								        <li ng-show="selectedPresence == 'PRESENT'" class="divider"></li>
								        <li ng-repeat="aSpecies in species" ng-click="setSpeciesCategory('SPECIFIC', aSpecies)" role="menuitem"><a href="#">{{aSpecies.displayName}}</a></li>
								      </ul>
								</div>
							</div>		
						</div>

						<div class='col-md-5 well query-well'>
							<div class='row query-row'>
							Differential expression
							</div>
							<div class='row query-row'>
								<button type="button" class="btn btn-default" ng-disabled="selectedPresence == 'ABSENT'" ng-model="includeUpregulated" btn-checkbox>Up-regulated</button>
							</div>
							<div class='row query-row'>
								<button type="button" class="btn btn-default" ng-disabled="selectedPresence == 'ABSENT'" ng-model="includeDownregulated" btn-checkbox>Down-regulated</button>
							</div>
							<div class='row query-row'>
								<button type="button" class="btn btn-default" ng-disabled="selectedPresence == 'ABSENT'" ng-model="includeNotDifferentiallyExpressed" btn-checkbox>Not differentially expressed</button>
							</div>
						</div>




						<div class='col-md-1'>
							<div class='row query-row'>
							<button type="button" class="btn btn-default" 
								ng-click="addCriterion()">Add criterion</button>
							</div>
							<div class='row query-row'>
							<button type="button" class="btn btn-default" 
								ng-click="clearCriteria()">Clear criteria</button>
							</div>
						</div>
					</div>
				</div>
			</p>
			<div ng-show="criteria.length == 0">
				<p>No search criteria selected.</p>
			</div>
			<div ng-show="criteria.length > 0" >
				<p>Clusters will be selected if they meet all of the following criteria:</p>
				<table class="table table-bordered">
					<thead>
						<td><b>Presence / absence in species</b></td>
						<td><b>Include up-regulated?</b></td>
						<td><b>Include down-regulated?</b></td>
						<td><b>Include non-differentially expressed?</b></td>
					</thead>		
					<tbody>
						<tr ng-repeat="criterion in criteria track by $index">
							<td>{{renderCriterionPresenceAbsenceSpecies(criterion)}}</td>
							<td>{{renderIncludeUpregulated(criterion)}}</td>
							<td>{{renderIncludeDownregulated(criterion)}}</td>
							<td>{{renderIncludeNotDifferentiallyExpressed(criterion)}}</td>
						</tr>
					</tbody>	
				</table>
			</div>		
		
			<button type="button" class="btn btn-default" 
				ng-click="runQuery()">Run query</button>
			<div ng-show="resultRows">
			<h3>Results</h3>
			<div ng-show="resultRows.length == 0">No results</div>
			<table ng-show="resultRows.length > 0" class="table table-bordered tbl-results">
				<thead>
					<th>Orthologous cluster ID</th>
					<th>Species</th>
					<th>ENSEMBL ID</th>
					<th>Gene</th>
					<th><em>dn/ds</em> Ratio</em></th>
					<th><em>log<sub>2</sub></em> Fold Change</em></th>
					<th>FDR</em></th>
					<th>Percent identity</em></th>
				</thead>		
				<tbody>
					<tr class="{{resultRow.rowClass}}" ng-repeat="resultRow in resultRows track by $index">
						<td ng-show="resultRow.orthoClusterId" rowSpan="{{resultRow.numRowsInCluster}}">{{resultRow.orthoClusterId}}</td>
						<td ng-show="resultRow.species" rowSpan="{{resultRow.numRowsInSpecies}}">{{resultRow.species}}</td>
						<td><a href="http://www.ensembl.org/Gene/Summary?g={{resultRow.ensemblId}}" target="_blank">{{resultRow.ensemblId}}</a></td>
						<td>{{resultRow.geneName}}</td>
						<td>{{resultRow.dndsRatio}}</td>
						<td>{{resultRow.log2fc}}</td>
						<td>{{resultRow.fdr}}</td>
						<td>{{resultRow.percId}}</td>
					</tr>
				</tbody>	
			</table>
		</div>
	</div>

</div>

</body>
</html>