<!DOCTYPE html>
<html >
<head>

	<meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="pragma" content="no-cache" />

	<!-- Due to a bug in webcomponents, I can't use CSS with HTML imports -->
	<!-- (at least in IE) -->
	<!-- https://github.com/webcomponents/webcomponentsjs/issues/400 -->
	<link rel="stylesheet" href="bootstrap/css/bootstrap-yeti.css"/>
	<link rel="stylesheet" href="css/style.css"/>

	<!-- Polyfill, required for browsers that do not support link rel="import" -->
	<script type="text/javascript" src="webcomponents/webcomponents-lite.min.js"></script>


	<link rel="import" href="html/dependencies.html"/>
</head>
<body>


<div class="container" ng-app="isgWebApp">

	<div ng-controller="isgWebAppCtrl">
		<h2>CVR ISG database</h2>
		<p>
		Orthologous clusters of interferon-stimulated genes (ISGs) across multiple species.
		</p>
		
		<p>
			<div class="btn-group">
				<label class="btn btn-primary btn-xs ng-pristine ng-untouched ng-valid active" 
					ng-model="selectedPresence" btn-radio="'PRESENT'">Present</label>
				<label class="btn btn-primary btn-xs ng-pristine ng-untouched ng-valid active" 
					ng-model="selectedPresence" btn-radio="'ABSENT'">Absent</label>
			</div>
		
			<select ng-disable="!species"
					ng-model="selectedSpecies"
					ng-options="aSpecies.displayName for aSpecies in species">
			</select>
			<button type="button" class="btn btn-primary btn-xs" 
				ng-click="addCriterion()">Add criterion</button>
			<button type="button" class="btn btn-primary btn-xs" 
				ng-click="clearCriteria()">Clear criteria</button>
		</p>
		<h3>Search criteria</h3>
			<div ng-show="criteria.length == 0">No search criteria selected</div>
			<table ng-show="criteria.length > 0" class="table">
				<thead>
					<td><b>Present/Absent</b></td>
					<td><b>Species</b></td>
				</thead>		
				<tbody>
					<tr ng-repeat="criterion in criteria track by $index">
						<td>{{criterion.presence == 'PRESENT' ? 'Present' : 'Absent'}}</td>
						<td>{{species[criterion.speciesId].displayName}}</td>
					</tr>
				</tbody>	
			</table>
		
		
		<button type="button" class="btn btn-primary btn-xs" 
			ng-click="runQuery()">Run query</button>
		
	</div>

</div>

</body>
</html>